.login-form {
  max-width: 40rem;
  margin: auto;
  display: flex;
  flex-direction: column;
    
  &__separator {
    margin: 6px;
    text-align: center;
  }

  &__callout {
    margin-bottom: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
