.layerNode-Option-Container {
  padding: 8px 4px;
  
  .bp3-slider {
    width: calc(100% - 0.8rem);
  }
}

.layerNode-Option-slider-label {
  font-family: SFProText-light;
  font-size: 12px;
  color: #F5F8FA;
  line-height: 15px;
}

.layerNode-Option-button:not(:last-of-type) {
  margin-right: 12px;
}


// transform: rotate(90deg);

// font-family: SFProDisplay-Regular;
// font-size: 14px;
// color: #F5F8FA;
// letter-spacing: 1px;
// line-height: 21px;