.layerNode-Option-Container {
  padding: 4px;

  .bp3-slider {
    width: calc(100% - 0.3rem);
  }
}

.layerNode-Option-slider-label {
  font-weight: 200;
  font-size: 14px;
}

.layerNode-Option-button:not(:last-of-type) {
  margin-right: 12px;
}
