.control-container {
  padding: .25rem;
}
.control--range .range__manual {
  width: auto;
}

.control-label {
  margin-bottom: 0.5rem;
}

.tf-select .bp3-popover {
  position: absolute;
  top: 0.125rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border: .001px solid #202B33;
  box-shadow: 2 4 2 2 rgba(16, 22, 26, 0.4);
  .bp3-popover-content {
    padding: 0;
  }
}