$breakpoints-phone: 320px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
$scaleRatio: 1.25;

.control--range .range__manual {
  width: auto;
}

.tf-select .bp3-popover {
  position: absolute;
  top: .125rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border: .001px solid #202B33;
  box-shadow: 2 4 2 2 rgba(16, 22, 26, 0.4);
  .bp3-popover-content {
    padding: 0;
  }
}

@media(min-width: $breakpoints-tablet) and (max-width: $breakpoints-desktop) and (orientation: landscape) {
  .control-label {
    .bp3-popover-wrapper .tf-multiselect {
      font-size: .875rem / $scaleRatio;
    }
  }
  .bp3-checkbox {
    margin: 1.5rem 0;
  }
  .bp3-checkbox:first-of-type {
    margin: 1rem 0 1.5rem 0;
  }
  .bp3-checkbox:last-of-type {
    margin: 1rem 0 0 0;
  }
  .bp3-button-text, .bp3-input-ghost, .bp3-input {
    font-size: .875rem / $scaleRatio;
  }
  .bp3-datepicker-month-select > select, .bp3-datepicker-year-select > select {
    font-size: .875rem / $scaleRatio;
  }
}