@import "node_modules/@blueprintjs/core/lib/scss/variables";

.radioGroup {
  padding: 10px;
  line-height: 2em;
}

.bp3-popover-content {
  padding: 4px;
}

.bgLayer-radio {
  padding: 8px 36px 8px 8px;
  border: 1px solid #182026;
  margin: 0;
  &:not(:last-of-type) {
    border-bottom: 0px;
  }
}

.bp3-control {
  &:not(.bp3-align-right) {
    .bp3-control-indicator {
      margin-left: -12px;
    }
  }
}
.mapboxgl-ctrl-background-styles {
  position: relative;

  .bp3-popover-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 30px;
  }
}
