image: corpusops/node:10.9 # Should match .nvmrc content

stages:
  - tests
  - build
  - deploy
  - publish

cache:
  paths:
    - node_modules/

variables:
  SKIP_PREFLIGHT_CHECK: "true"

before_script:
  - node --version
  - npm --version
  - ls -alh

# Tests stage

Lint:
  tags: [shared-ci-docker]
  stage: tests
  script:
    - npm ci
    - npm run lint

Tests:
  tags: [shared-ci-docker]
  stage: tests
  script:
    - npm ci
    - npm run coverage
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/


Build package:
  tags: [shared-ci-docker]
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    expire_in: 2 days
    name: "build-${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA}"
    paths:
      - dist

# Deploy story book

Build Storybook:
  tags: [shared-ci-docker]
  stage: build
  script:
    - npm ci
    - npm run build-storybook
  only:
    - master
  artifacts:
    expire_in: 3 days
    paths:
      - storybook-static/

Deploy Storybook:
  tags: [shared-ci-docker]
  stage: deploy
  variables:
    NETLIFY_SITE_ID: terralego.netlify.com
  dependencies:
    - Build Storybook
  only:
    - master
  script:
    - npx --package netlify-cli netlify deploy
      --site=$NETLIFY_SITE_ID
      --auth=$NETLIFY_ACCESS_TOKEN
      --dir=./storybook-static
      --message "$CI_COMMIT_SHORT_SHA $CI_COMMIT_TAG $CI_COMMIT_TITLE $CI_SERVER_HOST"
      --prod

# Publish on npm

Publish to NPM:
  tags: [shared-ci-docker]
  stage: publish
  only:
    - tags
  dependencies:
    - Build package
  script:
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}">~/.npmrc
    - npm run publish
