npm-debug.log*

# Dependency directories
/node_modules

# testing
/coverage

# production
/build

npm-debug.log*

# dotenv environment variables file(s)
.env
.env.*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### WebStorm/IntelliJ ###
/.idea
modules.xml
*.ipr

*.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
