@use "sass:math";

@import '../../../../../utils/variables.scss';

.layersTreeItemFilter {
  margin: .5rem -0.2rem 0.15rem;
  &__tag {
    margin: 0.2rem;
    max-width: calc(100% - 1rem);
    .bp3-text-overflow-ellipsis {
      white-space: inherit;
    }
  }
}

@media(min-width: $breakpoints-phone) and (max-width: $breakpoints-desktop){
  .layersTreeItemFilter {
    margin: 0;
    &__tag {
      padding: .25rem .25rem .25rem .5rem;
      margin: 1rem 0 0 0;
      max-width: calc(100% - 1rem / #{$scaleRatio});
      .bp3-text-overflow-ellipsis {
        white-space: inherit;
        font-size: math.div(.75rem, $scaleRatio);
      }
      .bp3-tag-remove {
        padding: .5rem;
      }
    }
  }
}
