$transitionSpeed: .2s;

.interactive-map {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100vh;
  display: flex;

  .tf-map {
    flex: 1;
    width: 100%;
  }

  &__legends {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    max-height: calc(100% - 1rem);
    overflow: auto;
  }
}

// Styles relative to DarkTheme
.bp3-dark {
  .interactive-map__legends {
    scrollbar-color: none rgba(32, 43, 51, 0.4);
  }

  .interactive-map__legends::-webkit-scrollbar {
    width: .5rem;
  }

  .interactive-map__legends::-webkit-scrollbar-track {
    background-color: none;
  }

  .interactive-map__legends::-webkit-scrollbar-thumb {
    background-color: rgba(32, 43, 51, 0.4);
  }
}