$transitionSpeed: .2s;

.interactive-map {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100vh;
  display: flex;

  .tf-map {
    flex: 1;
    width: 100%;
  }

  &__legends {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    max-height: calc(100% - 1rem);
    overflow: auto;
  }
}

.interactive-map__legends {
  z-index: 10;
}
