$transitionSpeed: .2s;

.widget-map {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100vh;
  display: flex;

  .tf-map {
    flex: 1;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .mapboxgl-ctrl-bottom-left {
    transition: transform $transitionSpeed ease-in;
    transform: translate3d(2.5rem, 0, 0);
  }

  .map-navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 20rem;
    transform: translate3d(-18rem, 0, 0);
    transition: transform $transitionSpeed ease-in;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 0;
    padding: 0 0.7rem;

    &__button {
      width: auto;
      height: auto;
      border-radius: 0;
      margin: 0.7rem 0;
      outline: none;
      transition: transform $transitionSpeed ease-in;
      transform: translate3d(0.6rem, 0, 0);
    }

    &__content {
      opacity: 0;
      width: 100%;
      transition: opacity $transitionSpeed ease-in;
    }
  }

  &__legends {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &--layerstree-is-visible {
    .map-navigation {
      transform: translate3d(0, 0, 0);
      padding: 0 0.7rem;

      &__button {
        transform: scaleX(-1) translate3d(0, 0, 0);
      }

      &__content {
        opacity: 1;
      }
    }
    .mapboxgl-ctrl-bottom-left {
      transform: translate3d(20rem, 0, 0);
    }
  }
}

.layerstree-panel-list {
  transform: translate3d(0, 0, 0);
  overflow-y: auto;
  scrollbar-color: #202B33 #30404D;      
}
.layerstree-panel-list::-webkit-scrollbar {
  width: 8px;
}

.layerstree-panel-list::-webkit-scrollbar-track {
  background-color: #30404D; 
}

.layerstree-panel-list::-webkit-scrollbar-thumb {
  background-color: #202B33; 
}
