$breakpoints-phone: 320px;
$breakpoints-tablet: 768px;

.share {
  &__btn {
    .bp3-button {
      padding: 0;
      img {
        width: 1.5rem;
      }
    }

    &--facebook,
    &--linkedin {
      .bp3-button img {
        width: 1rem;
      }
    }
  }
}

@media(min-width: $breakpoints-phone) and (max-width: $breakpoints-tablet) {
  .mapboxgl-ctrl-permalink  .bp3-popover {
    max-width: 15rem;
    input {
      max-width: 9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
