.overlay-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .report-card {
    height: auto;
    width: auto;
  }
