@import "node_modules/@blueprintjs/core/lib/scss/variables";

.tf-legend {
  box-shadow: 0 1px 3px 0 rgba(16, 22, 26, 0.40);
  border-radius: 2px;
  background: $pt-app-background-color;
  padding: .5rem 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 250px;

  .bp3-dark & {
    background: $pt-dark-app-background-color;
  }

  > .tf-legend {
    border: 0;
  }

  &__title {
    margin: 0.2rem 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  &__list:not(.tf-legend__only-circles) {
    display: table;
    margin: 0.5rem;
    position: relative;
    min-height: 160px;

    .tf-legend__item--circle {
      display: table-row;
    }

    .tf-legend__item--square {
      padding-top: 0.5rem;

      .tf-legend__label {
        padding-bottom: 4px;
      }
    }
  }

  &__only-circles {
    display: table;
    margin: 0.5rem;
    position: relative;
    height: 160px;

    .tf-legend__item--circle:last-of-type .tf-legend__symbol-container:after {
      top: 1px;
    }

    .tf-legend__item--circle {
      position: absolute;
      bottom: 0;

      .tf-legend__symbol-container {

        &:after {
          content: "";
          width: 70%;
          border-bottom: 1px solid #000000;
          height: 1px;
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
        }

        :last-child {
          &:after {
            top: 6px;
          }
        }

        .tf-legend__symbol {
          position: relative;

          svg {
            border: 1px solid #000000;
            border-radius: 50%;
          }
        }
      }

      .tf-legend__label {
        position: absolute;
        top: -8px;
        left: 120%;
        width: 90px;
      }
    }
  }

  &__symbol-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &__symbol {
    border-radius: 0;
    display: inline-block;
  }

  &__label {
    font-size: 0.8rem;
    padding: 0 0 0 .5rem;
    display: table-cell;
    max-width: 170px;
    vertical-align: middle;
  }

}
