.tf-legend {
  box-shadow: 0 1px 3px 0 rgba(16,22,26,0.40);
  border-radius: 2px;
  background: #F5F8FA;
  padding: .5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .tf-legend {
    border: 0;
  }

  &__title {
    margin: 0.2rem 0.3rem;
    font-size: 1rem;
    font-weight: 600;
  }

  &__list {
    display: table;
    margin: 0 .5rem;
  }



  &__symbol-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &__symbol {
    border-radius: 0%;
    display: inline-block;
  }
  &__label {
    font-size: 0.8rem;
    padding: 0 0 0 .5rem;
    display: table-cell;
    vertical-align: middle;
    max-width: 170px;
  }

  &__item {
    &--circle {
      display: table-row;
      .tf-legend__symbol {
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}