.layerNode-container {
  padding: 4px 4px 4px 8px;
  border: 1px solid #293742;
  font-size: 16px;
  font-weight: 200;
  border-radius: 0px;
}

.layerNode-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.button-more-vertical {
  transform: rotate(90deg)
}
