.layersTreePanelContainer {
  padding: 16px 8px;
  border-radius: 0;
  width: (100vw/12)*3;//((100% / 12) * 3); 
}

.groupLayersLabel {
  font-weight: 300;
  vertical-align: middle;
  margin-bottom: 0px;
}

.bp3-control {
  margin-bottom: 0px;
}

.dataLayerCard {
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonMoreVertical {
  transform: rotate(90deg);
}
