@import "node_modules/@blueprintjs/core/lib/scss/variables";

.tf-map {
  height: 100%;
  width: auto;
  .mapboxgl-map {
    height: 100%;
    width: auto;
  }
}

.bp3-dark .mapboxgl-ctrl-group {
  box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  background-color: #394b59;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  color: #f5f8fa;

  svg {
    fill: $pt-dark-text-color;
  }

  & > button + button {
    border-top: 1px solid rgba(16,22,26,.4);
  }

  .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:rgb(245,248,255);' d='M 10 6 C 9.446 6 9 6.4459904 9 7 L 9 9 L 7 9 C 6.446 9 6 9.446 6 10 C 6 10.554 6.446 11 7 11 L 9 11 L 9 13 C 9 13.55401 9.446 14 10 14 C 10.554 14 11 13.55401 11 13 L 11 11 L 13 11 C 13.554 11 14 10.554 14 10 C 14 9.446 13.554 9 13 9 L 11 9 L 11 7 C 11 6.4459904 10.554 6 10 6 z'/%3E %3C/svg%3E");
  }
  .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:rgb(245,248,255);' d='m 7,9 c -0.554,0 -1,0.446 -1,1 0,0.554 0.446,1 1,1 l 6,0 c 0.554,0 1,-0.446 1,-1 0,-0.554 -0.446,-1 -1,-1 z'/%3E %3C/svg%3E");
  }
  .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpolygon fill='rgb(245,248,255)' points='6,9 10,1 14,9'/%3E %3Cpolygon fill='%23999' points='6,11 10,19 14,11 '/%3E %3C/svg%3E");
  }
}
