.layerNode-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 4px;
  padding: 4px 4px 4px 8px;
  border: 1px solid #293742;
  font-size: 16px;
  font-weight: 200;

  &.options-hidden {
    padding-right: 2.1rem;
  }
}

.layerNode-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .bp3-control.bp3-switch:not(.bp3-align-right) {
    margin-bottom: 0;
    line-height: 2.1rem;
  }
}
