$font-medium: "SFProText-Medium", Arial, Helvetica, sans-serif;
$font-default: "SFProText-Light", Arial, Helvetica, sans-serif;
$font-color: #F5F8FA;
$active-button-color: #5a91b3;
$breakpoints-phone: 320px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
$scaleRatio: 1.25;

.layerstree-panel-list {
  width: 100%;
  padding: .5rem;
}

.layerstree-group {
  margin-top: .75rem;

  .layerstree-group--0 {
    margin-left: 0;
  }

  &--active {
    .bp3-collapse-body {
      transform: inherit !important;
      padding: .3rem;
      background-color: #394B59;
      border: 1px solid #0000001f;
      box-shadow: none;
    } 
  }

  &__label-button {
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    outline: none;
    padding: 0;

    &:active {
      background: none;
    }

    &:hover {
      background: none;
    }

    H5 {
      font-family: $font-medium;
      font-size: 0.9rem;
      letter-spacing: .07rem;
      color: $font-color;
      font-weight: 500;
      margin: 0;
    }
  }

  & + .layerstree-node {
    margin-top: .35rem;
  }
}

.layerstree-node {
  padding: .35rem .25rem;
  border: 1px solid #0000001f;
  border-radius: 0;
  font-family: $font-default;
  font-size: .875rem;
  color: $font-color;
  letter-spacing: 0.06rem;
  display: flex;
  flex-direction: column;
  box-shadow: none;
 
  .layerstree-node-content {
    display: flex;
    flex-direction: row;
    
    .layerstree-node-content__item-tooltip-warning .bp3-popover-target .bp3-switch.warning-zoom .bp3-control-indicator {
      background: #9EB4C1;
  
      &::after {
        content: '!';
        position: absolute;
        left: 18px;
        font-size: 13px;
        font-weight: bold;
      }
    }
    /* Override Blueprintjs */
    .bp3-dark .bp3-control.bp3-switch.warning-zoom:hover input:checked ~ .bp3-control-indicator {
      background: darken(#9EB4C1, 10%);
    }
    &__item {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      min-width: 0;

      &-label {
        min-width: 0;
        display: flex;
        height: 1.2rem;

        &__tooltip {  
          width: 100%;
          flex: auto;
          min-width: 0;
          height: 1.2rem;

          & > .bp3-popover-target {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        &__total {
          margin-left: .25rem;
        }
      }
    }
    &__subitems-list {
      padding: .75rem 0 0 0;
      order: 2;
      .bp3-popover-target, div button {
        width: 100%;
        outline: none;
        margin: auto;
      }
      button {
        display: flex;
        justify-content: space-between;
      }
    }
    &__options {
      background-color: transparent;
      max-width: 7.5rem;
      padding-left: .25rem;
      align-items: baseline;
      height: 1.2rem;

      &--desktop {
        display: none;
      }

      &--active {
        display: flex;
      }
      
      &__button {
        margin: 0 .2rem;
        min-width: 1.125rem;
        min-height: 1.125rem;
        padding: 0;
        outline: none;
      
        .bp3-icon {
          padding: 0.05rem;
        }
      
        &--more {
          transform: rotate(90deg);
          svg {
            transform: scale(0.75);
          }
        }
        &--active {
          background: radial-gradient($active-button-color 0, transparent 55%) !important;
          svg {
            filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
          }
        }
      }
    }     
    &:hover {
      .layerstree-node-content {
        &__item {
          min-width: 0;
          display: flex;
        }
        &__options--desktop {
          background-color: transparent;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: baseline;
          max-height: 1.2rem;
          padding-left: .25rem;
          max-width: 7.5rem;
        }
      }
    }

    &--mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: .875rem / $scaleRatio;

      .layerstree-node-content{
        &__item {
          &-label {
            &__tooltip {  
              width: 100%;
              flex: auto;
              min-width: 0;
              height: 100%;
    
              & > .bp3-popover-target {
                max-width: 100%;
                overflow: auto;
                text-overflow: inherit;
                white-space: inherit;
              }
            }
            &--mobile {
              min-width: 0;
              padding: .5rem 0;
              display: flex;
              order: 1;
              align-items: center;
            }
          }
        }
        &__options--mobile {
          max-width: 100%;
          height: auto;
          display: flex;
          order: 3;
          justify-content: flex-end;
          border-top: 1px solid #0000001f;
          border-radius: 2px;
          margin-top: .5rem;
        }
        &__options__button {
          width: 4.06rem;
          flex-direction: column;
          outline: none;
          font-size: .65rem;
          padding: .5rem;
          margin: 0 .25rem;

          .bp3-icon {
            padding-bottom: .25rem;
            margin: 0;
          }
          &--more {
            transform: rotate(0deg);
          }
          &--active {
            background: radial-gradient(circle at 50% 1.05rem, $active-button-color 0, transparent 40%) !important;
            svg {
              filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
            }
          }
        }
      }
    }
  }
}
.bp3-switch {
  margin: 0;
}

@media(min-width: $breakpoints-phone) and (max-width: $breakpoints-desktop) {

  .layerstree-group {

    &--active {
      .bp3-collapse-body {
        padding: .5rem / $scaleRatio;
      }
    }

    &__label-button {
      H5 {
        font-size: 0.9rem / $scaleRatio;
        letter-spacing: .07rem / $scaleRatio;
        font-weight: 400;
      }
    }
  }

  .layerstree-node-content {
    padding: .5rem 0 0 0;
    width: 100%;
    font-size: .875rem / $scaleRatio;
    letter-spacing: 0.06rem / $scaleRatio;

    .control-container {
      padding: .5rem 0 .5rem 0;
    
      .bp3-control {
        margin-bottom: 1.5rem;
      }

      .bp3-control:last-child {
        margin-bottom: .25rem;
      }

      .bp3-radio:first-child {
        margin-top: .75rem;
      }

      .bp3-select-popover .bp3-menu {
        .control-container__item li {
          padding: .5rem;
        }
      }
    }
  }
}
