$font-medium: "SFProText-Medium", Arial, Helvetica, sans-serif;
$font-default: "SFProText-Light", Arial, Helvetica, sans-serif;
$font-color: #F5F8FA;
$active-button-color: #5a91b3;

.layerstree-panel-list {
  width: 100%;
  padding: .5rem 0 .5rem .5rem  ;
}

.layerstree-group {
  margin: 1.2rem 0;

  &--active {
    .bp3-collapse-body {
      transform: inherit !important;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    &-button {
      outline: none;
    }
  }
  H5 {
    font-family: $font-medium;
    font-size: 0.9rem;
    letter-spacing: .07rem;
    color: $font-color;
    font-weight: 500;
    margin: 0;
  }
}

.layerNode-container {
  width: calc(100% - 0.8rem);
  padding: 0 0 0 .5rem;
  border: .001px solid #202B33;
  border-radius: 0px;
  font-family: $font-default;
  font-size: 14px;
  color: $font-color;
  letter-spacing: 1px;
  line-height: 1.2rem;
}

.layerNode__tooltip span {
  width: 100%;
}

.layerNode__content {
  display: flex;
  align-items: center;
  min-height: 1.9rem;
  width: calc(100% - .25rem);
  outline: none;

  span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  label {
    margin: 0 0 0 0;
  }
}

.control-container {
  margin: 0 .25rem 0 0;
  background-color: #394B59;
  padding: .35rem;
}

.layerstree-subitems-list {
  .bp3-popover-target, button {
    width: 100%;
    outline: none;
    margin: auto;
  }
  button {
    display: flex;
    justify-content: space-between;
  }
}

.layerNode-options {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  display: none;
  min-height: 1.9rem;
  background-color: linear-gradient(to left, #30404d, 98%, transparent); //#30404d;
  padding-left: .25rem;
}

.layerNode-total {
  margin-left: .25rem;
}

.layerNode-container:hover {
  .layerNode-options {
    display: flex;
    align-items: center;
  }
}

.layerNode-options--active {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.layerNode-options__buttons {
  margin: 0 .2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  padding: 0;
  outline: none;
}

.layerNode-options__buttons--active {
  background: radial-gradient($active-button-color 0, transparent 55%) !important;
  svg {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}

#button-more-vertical {
  transform: rotate(90deg);
  margin-left: 0rem;
  min-width: .9rem;
  min-height: .3rem;
  svg {
    width: .8rem;
  }
}
