.layerNode-container {
  width: calc(100% - 0.8rem);
  padding: 0 0 0 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  font-family: "SFProText-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #F5F8FA;
  letter-spacing: 1px;
  line-height: 21px;

  &:last-of-type {
    border-bottom: 1px solid rgba(32, 43, 51, 0.5);
  }
  &:first-of-type {
    border-top: 1px solid rgba(32, 43, 51, 0.5);
  }

  .control-container {
    width: calc(100);
    padding: 0.35rem;
    margin: 0 .25rem .25rem 0;
    background-color: #394B59;
    border: 0.01rem solid #293742;
  }
}

.layerNode-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.layerNode-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.layerNode-label-container {
  display: flex;
  min-height: 30px;

  label {
    flex: 1;
    margin: 0;
    line-height: 1.8rem;
  }
}

.layers-tree-group {
  margin-bottom: 1.2rem;
  H5 {
    font-family: "SFProText-Medium", Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.75px;
    color: #F5F8FA;
    line-height: 18px;
    font-weight: 500;
  }
}

.layerstree-subitems-list {
  .bp3-popover-target, button {
    width: calc(100%);
    outline: none;
  }
  button {
    display: flex;
    justify-content: space-between;
  }
}

.layerNode-options__buttons {
  margin: 0;
  min-width: 24px;
  min-height: 24px;
  height: 24px;
  padding: 0;
  outline: none;
  span {
    display: flex;
  }
  .icon {
    width: 14px;
    height: 14px;
    padding: 0;
    transition: .2s ease-in filter;
  }
}
.layerNode-options__buttons--active {
  background: radial-gradient(#5a91b3 0, transparent 55%) !important;
  .icon {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}
.layerNode-widgets__buttons--active {
  background: radial-gradient(#5a91b3 0, transparent 55%) !important;
  svg {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}
#button-more-vertical {
  transform: rotate(90deg);
  min-width: 18px;
  min-height: 18px;
  height: 18px;
  padding: 0;
  svg{
    width: 14px;
    height: 14px;
  }
}
