.table-header {
  display: flex;
  align-items: center;
  > * {
    width: calc(100% / 3);
  }
  &__options {
    padding: 10px;
    background: #fff;
    .bp3-control {
      padding-bottom: 5px;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
  }
}
