@import "node_modules/@blueprintjs/core/lib/scss/variables";

.mapboxgl-ctrl-search {
  position: relative;
  overflow: visible;

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    transition: width .2s ease-in;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: $pt-elevation-shadow-0;
    .bp3-dark & {
      box-shadow: $pt-dark-elevation-shadow-0;
    }

    &--expanded {
      width: 20rem;
    }

    .bp3-input:focus {
      box-shadow: none;
    }
  }

  .search-input {
    padding: 0;
  }
  .search-results {
    padding: 0;
    border-radius: 0 0 4px 4px;
    position: relative;
    opacity: .95;

    &__title {
      padding: .5rem .7rem;
      border-bottom: 1px solid $pt-divider-black;
      font-size: 120%;
      .bp3-dark & {
        border-bottom-color: $pt-dark-divider-black;
      }
    }

    &__groups {
      overflow: auto;
      max-height: 60vh;
      .bp3-dark & {
        & {
          scrollbar-color: #202b33 #30404d;
        }

        &::-webkit-scrollbar-track {
          background-color: #30404d;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #202b33;
        }
      }
    }

    &__group {
      .bp3-divider {
        margin: 0;
        .bp3-dark & {
          border-color: $pt-dark-divider-white;
        }
      }
    }

    &__group-title,
    &__item {
      padding: .5rem .7rem;
      margin: 0;
    }

    &__group-title {
      font-weight: 500;
      font-size: 110%;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      &--active {
        padding: 0;
      }

      button {
        cursor: pointer;
        border: 0;
        background: inherit;
        color: inherit;
        padding: .5rem .7rem;
        width: 100%;
        text-align: left;
      }

      &--active:hover,
      &--selected {
        color: #fff;
        background-color: $pt-intent-primary;
      }
    }
  }
}
