@use "sass:math";

@import '../../../utils/variables.scss'; 

.storytelling {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    height: 100%;
    flex: 1 1 auto;
    padding: 0 .75rem;
    overflow: auto;
  }
  &__buttons {
    display: flex;
    margin: 1rem .75rem;
    font-size: 2rem;
    height: 1.3em;
    justify-content: center;
    &--justified {
      justify-content: space-between;
    }
  }
}

@media(min-width: $breakpoints-tablet) and (max-width: $breakpoints-desktop) and (orientation: landscape) {
  .storytelling {
    font-size: math.div(1rem, $scaleRatio);
    line-height: 145%;

    h2 {
      line-height: 145%;
      font-size: math.div(1.3rem, $scaleRatio);
    }

    &__buttons {
      font-size: math.div(2rem, $scaleRatio);
    }
  }
}
