.report-button-group > .bp3-form-content {
    display: flex;
    justify-content: space-evenly;
}

.report-button {
    text-transform: uppercase;
}

.report-url > .bp3-form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.report-timestamp-id > .bp3-form-content {
    display: flex;
    justify-content: space-evenly;
}
